<%= bootstrap_form_for(user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>
  <%= f.text_field :username,:placeholder => 'Username', icon: "user"%>
	<%= f.email_field :email,:placeholder => 'Email', icon: "envelope" %>
	<%= f.password_field :password,:placeholder => 'Password', icon: 'eye-close' %>
	<%= f.password_field :password_confirmation, :placeholder => 'Confirm Password', icon: 'eye-close' %>
	<div class="col-sm-offset-2 col-sm-10">
	<%= f.submit "Register", :class => 'btn btn-lg btn-success'%>
	</div>
	<% end %>

</div>
