<h3 id="<%= dom_id(user) %>">
	<%= gravatar_for user , :size => 80, class: 'gravatar img-circle' %>
	<%= link_to user.username , "/#{user.username}" %>


	<div class="pull-right">
		<%= render :partial => 'relationships/follow_form' ,:locals=>{user: user} %></div>

		<%= link_to 'send a message', new_personal_message_path(receiver_id: user), class: 'btn btn-success' %>

		<% if current_user && current_user.admin? && current_user != user %>
			<%= link_to "delete", user, method: :delete, class: 'btn btn-danger',
						data: { confirm: "You sure?" } %>
		<% end %>
</h3>

