<section>
        <center>
	<h1>
		<%= gravatar_for user  %>

		<% if user_signed_in? && current_user.admin? && !signed_in?(user) %>
		| <%= link_to "delete", user, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>

	</h1>
	<h2><%= link_to user.username , "/profile/#{user.username}" %> </h2>
  <h3><%= user.username%></h3>
	</center>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= user.followers.count %> Followers
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="followers_avatars">
		<% user.followers.each do |user| %>
		<%= link_to gravatar_for(user, size: 30), "/profile/#{user.username}" %>
		<% end %>
		</div>
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%= user.followed_users.count %> Following
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="followings_avatars">
		<% user.followed_users.each do |user| %>
		<%= link_to gravatar_for(user, size: 30), "/profile/#{user.username}" %>
		<% end %>
		</div>
      </div>
    </div>
  </div>
</div>

</section>
<br />
