  <h1>Settings</h1>

<%= bootstrap_form_for(current_user) do |f| %>
   <%= gravatar_for current_user , :size => 80  %>
    <a href="http://gravatar.com/emails">change</a>
    <br />
	<div class="col-md-6">
	  <%= f.text_field :username,:placeholder => 'Username', icon: "user"%>

    </div>
	<div class="col-lg-6">
	   <%= f.email_field :email,:placeholder => 'Email', icon: "envelope" %>
	</div>


	<div class="form-actions">
		<%= f.submit "Update", :class => 'btn btn-success' %>
		<%= link_to "Cancel" ,"/#{current_user.username}", :class => 'btn' %>
	</div>
<% end %>

