
<%= div_for comment do %>

<div class="media well well-small" id= "<%=  dom_id(comment) %>">
    <a class="pull-left" href="#">
		<%= gravatar_for comment.user ,:size => 64 %>
	</a>
	<% if comment.user == current_user || comment.post.user ==  current_user%>
		<span class='actions pull-right' style="padding:5px;" >
			<%= link_to "", post_comment_path(:post_id => comment.post,
			:id => comment), confirm: 'Are you sure?', method: :delete , :remote=> true ,:class => 'close icon-remove'%>
		</span>
		<% end %>
	<div class ="media-body comment ">
	<div class="media-heading">
		<h4>@<%= comment.user.username%></h4>

	</div>
	
	<blockquote>
		<p><%= comment.body %> </p>
		

		<small> <%= time_ago_in_words(comment.created_at) %> ago.</small>
	</blockquote>
	
	</div>
</div>



<% end %> 

<script>
	$(document).ready(function(){
		$('.actions').hide();

</script>