
  <li class="media" id="<%= dom_id(post) %>">
      <div class="media-left">
        <a href="#">
          <%= gravatar_for(post.user ,:size=> 64 ,:class => 'media-object img-thumbnai img-circle') %>
        </a>
      </div>

      <div class="media-body">
        <% if post.owned_by? current_user %>
      <div class="actions pull-right">
          <ul>
            <li>
              <%= link_to "" , edit_post_path(post) ,:class=> "btn btn-xs btn-success glyphicon glyphicon-pencil",:remote => true %>
            </li>
            <li>
              <%= link_to "" , post, confirm: "Are you sure?" , method: :delete ,:class=> "btn btn-xs btn-danger glyphicon glyphicon-remove" ,:remote => true%>
            </li>
          </ul>
      </div>
      <% end %>
        <h4 class="media-heading">
          <%=link_to post.user.username, post_path(post) %>
        </h4>
        <div class="edit">
          <p>
            <%= post.body %>
          </p>
          <small>
            <%= time_ago_in_words(post.updated_at) %> ago.
          </small>
        <h4><span class="badge"><span id="count_comments">
              <%= post.comments.count%>
            </span> Comments</span></h4>
        </div>
    </div>

    <ul class="media-list">
      <div id="comments">
        <%= render :partial=> 'posts/post_comments', :locals =>{:post => post} %>
      </div>

      <% if current_user %>
          <li class="media">
            <div class="media-left">
              <%= gravatar_for(current_user ,:size=> 32, :class => 'media-object img-thumbnai img-circle') %>
            </div>
            <div class="media-body">
              <%= render :partial=> "comments/new" ,:locals => {:post => post} %>
            </div>
          </li>
    <% end %>
    </ul>

  </li>

