<%= div_for post do %>
<div id="<%= dom_id(post) %>">
  <div class="media well" id="body">
    <a class="pull-left" href="#">
      <%= gravatar_for(post.user ,:size => 64 ) %>
    </a>
    <div class="actions pull-right" >
      <% if post.owned_by? current_user %>
      <ul>
        <li><%= link_to "", edit_post_path(post) ,:class => "btn btn-xs btn-success glyphicon glyphicon-pencil" ,:remote => true %></li>
        <li><%= link_to "", post, confirm: "Are you sure?", method: :delete  ,:class => "btn btn-xs btn-danger glyphicon glyphicon-remove" ,:remote => true%>  </li>
      </ul>

      <% end %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%=link_to post.user.username  , "/profile/#{post.user.username}" %>
      </h4>
      <div class="edit">
        <p><%=  post.body %></p>
        <small><%= time_ago_in_words(post.updated_at) %> ago.</small>
      </div>
      <h4><span class="label label-warning"><span id="count_comments"><%= post.comments.count%></span> Comments</span></h4>
    </div>
  </div>

  <div id="comments">
    <%= render :partial=> 'posts/postcomments' , :locals =>{:post => post} %>
  </div>

  <%end %>

  <div style="padding:5px;margin-left:50px;">
    <% if current_user %>
    <%= render :partial => "comments/new" ,:locals => {:post => post} %>
    <%end %>
  </div>

</div>

