<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= link_to @user.username , "/#{@user.username}" %> 
				<div class="pull-right"><%= render 'follow_form' if logged_in? %></div>
			</h1>
			<div class="stats">
				<ul>
					<li><strong>
						<%= @user.posts.count %>
					</strong> 
					Posts </li>
					<li> <strong>
						<%= @user.replies.count %>
					</strong> 
					Comments </li>
					<li><a href="<%= following_user_path(@user) %>">
						<strong id="following" class="stat">
							<%= @user.followed_users.count %>
						</strong>
						following
					</a></li>
					<li><a href="<%= followers_user_path(@user) %>">
						<strong id="followers" class="stat">
							<%= @user.followers.count %>
						</strong>
						followers
					</a></li>
				</ul>
			</div>
		</section>
	</aside>
</div>

</section>
<br/>
<div class="tabbable">
	<ul class="nav nav-tabs" id="proftabs">
		<li class="active"><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
		<li><a  href="#posts_tab" data-toggle="tab">Posts</a></li>
		<li><a href="#followers_tab" data-toggle="tab">Followers</a></li>
		<li><a  href="#followings_tab" data-toggle="tab">Followings</a></li>
		<li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>

	</ul>

	<div class="tab-content">
		<div id="profile_tab" class="tab-pane">
		</div>
		<div id="posts_tab"  class="tab-pane">
			<%= render "userposts" %>
		</div>
		<div id="followers_tab"  class="tab-pane">
			<% if @followers.any? %>
			<ul class="users">
				<%=  render @followers %>
			</ul>
			<% end %>
		</div>
		<div id="followings_tab"  class="tab-pane">
			<% if @followed_users.any? %>
			<ul class="users">
				<%=  render @followed_users %>
			</ul>
			
			<% end %>
			
		</div>
		<div id="photos_tab"  class="tab-pane">
			working on it ! 
		</div>
		
		
	</div>
</div>