<section>
	<h3>
		<%= gravatar_for @user , :size => 150 %>
		<%= link_to @user.username , "/profile/#{@user.username}" %>
		<% if logged_in? && current_user.admin? && !current_user?(@user) %>
		| <%= link_to "delete", @user, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>
		<div class="pull-right"><%= render :partial => 'users/follow_form' ,:locals=>{user: @user} if logged_in? %></div>
	</h3>




 <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	<li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
	<li><a href="#followers" data-toggle="tab">Followers</a></li>
	<li><a href="#followings" data-toggle="tab">Followings</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
	<div class="tab-pane active" id="posts">
		<%= render @posts %>

	</div>
	<div class="tab-pane" id="followers">
		<% if @followers.empty? %>
			<h3><span class="label label-warning"><%= @user.username %> has no followers</span></h3>
		<% else %>
			<%= render @followers %>
		<% end %>
		</div>
		<div class="tab-pane" id="followings">
			<% if @followed_users.empty? %>
				<h3><span class="label label-warning"><%= @user.username %> has not follow anyone yet</span></h3>
			<% else %>
				<%= render @followed_users %>
			<% end %>
		</div>

	</div>
