<section>
	<h3>
		<%= gravatar_for @user , :size => 150 %>
		<%= link_to @user.username , "/#{@user.username}" %> 
		<% if logged_in? && current_user.admin? && !current_user?(@user) %>
		| <%= link_to "delete", @user, method: :delete,
		data: { confirm: "You sure?" } %>
		<% end %>
		<div class="pull-right"><%= render :partial => 'users/follow_form' ,:locals=>{user: @user} if logged_in? %></div>
	</h3>
	



 <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
        <li><a href="#followers" data-toggle="tab">Followers</a></li>
        <li><a href="#followings" data-toggle="tab">Followings</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="posts">
            <h1><%= @user.username %>'s Posts</h1>
            <%= render @posts %>
            
        </div>
         <div class="tab-pane" id="followers">
            <h1><%= @user.username %>'s Followers</h1>
            <%= render @followers %>
        </div>
        <div class="tab-pane" id="followings">
            <h1><%= @user.username %>'s Followings</h1>
            <%= render @followed_users %>
        </div>
    
    </div>