<script type="text/javascript">
	$('.actions').hide();
	var mouseover = function() {
		$(this).find('.actions').show();
	};

	var mouseout = function() {
		$(this).find('.actions').hide();
	};

	$('.post').hover(mouseover, mouseout);

	
</script>
<%= div_for post do %>
<div class="media" >
	<a class="pull-left" href="#">
		<img class="media-object img-circle" src="../avatar.jpg" alt="64x46">
	</a>
	<div class="media-body post" id="<%= post.id %>" >

		<h4 class="media-heading">@<%=link_to post.user.username  , "/#{post.user.username}" %>
		</h4>

		<blockquote>
			<div class="actions pull-right" style="margin-right:5px;">
				<a href="" id="<%= post.id %>" name="up" class="votes">
					<div class='up'></div><%= post.ups %> Up</a>
					<a href=""  id="<%= post.id %>"  name="down" class="votes">
						<div class='down'></div><%= post.downs %> Down</a>
						<% if post.owned_by? current_user %>
						<%= link_to "Edit", edit_post_path(post) ,:class => "btn " ,:remote => true %>
						<%= link_to "Delete", post, confirm: "Are you sure?", method: :delete  ,:class => "btn btn-danger" ,:remote => true%>
						<% end %>
					</div>
					<p class="lead"><%=  post.body %></p>
					<small><%= time_ago_in_words(post.created_at) %> ago</small>
				</blockquote>
			</div>
		</div>

		<div id="comments" >

			<%= for comment in post.comments do %>
			 <%= render comment %>
			<% if current_user %>
			<div id="<%= comment.id %>"></div>


			<%= link_to "new comment", new_post_comment_path(post,:format => :js),
			:remote => true, :id => 'new_comment_link' ,:class =>'btn btn-success' %>

			<% end %>
			<%end %>

		</div>
		<% end %>  


