<script type="text/javascript">
	$('.actions').hide();
	var mouseover = function() {
		$(this).find('.actions').show();
	};

	var mouseout = function() {
		$(this).find('.actions').hide();
	};

	$('.post').hover(mouseover, mouseout);

	
</script>
<%= div_for post do %>
<div class="media" id="<%= dom_id(post) %>" >
	<a class="pull-left" href="#">
		<img class="media-object img-circle" src="../user_avatar.png" alt="64x46">
	</a>
	<div class="media-body post" >

		<h4 class="media-heading">@<%=link_to post.user.username  , "/#{post.user.username}" %>
		</h4>

		<blockquote>
			<div class="actions pull-right" style="margin-right:50px;">
				<% if post.owned_by? current_user %>
				

				<%= link_to " ", post, confirm: "Are you sure?", method: :delete  ,:class => "close icon-remove" ,:remote => true%>  <%= link_to " ", edit_post_path(post) ,:class => "close icon-pencil" ,:remote => true %>

				<% end %>
			</div>
			<p class="lead"><%=  post.body %></p>
			<small>
			<%= time_ago_in_words(post.created_at) %> ago. 
			 <span class="label label-info">
				<span id="count_comments"><%= post.comments.count%></span> Comments
			</span>
			</small>
		</blockquote>
	</div>
</div>


<div id="comments">

	<% if  post.comments.count >= 3 %>
	<%= link_to "See all comments" ,post_path(post) ,:remote => true %>
	<% end %>



	<%= render :partial => 'postcomments',:locals => {:comments => post.latest_comments} %>

</div>
<div style="padding:5px;margin-left:50px;">
	<% if current_user %>
	<%= render :partial => "comments/new" ,:locals => {:post => post}%>
	<%end %>
</div>
<% end %>  


