<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= content_for?(:title) ? yield(:title) : "Social Media " %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application",media: "all" ,"data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			padding-top: 70px;
		}

	</style>
</head>
<body>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>
				<%= render 'sessions/new'%>
			</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>
				<% user = User.new%>
				<%= render :partial => 'users/new', :locals => {user: user}%>
			</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	
	
	<div id="wrap">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Social Media</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Home' ,root_path , :class => 'glyphicon glyphicon-home' %> </li>
					<li><%= link_to 'People' ,users_path , :class => 'glyphicon glyphicon-search' %> </li>
					
				</ul>
				<form class="navbar-form navbar-left" role="search">

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About' , about_path %></li>
					<% if !logged_in? %>
					<form class="navbar-form navbar-left" role="search">

					<div class="form-group">
					<button class="btn btn-primary " data-toggle="modal" data-target="#loginModal">
						Login
					</button>
					<button class="btn btn-success" data-toggle="modal" data-target="#registerModal">
						Register
					</button>
					</div>
					</form>
					<% else %>


					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for(current_user , size: 20) %> </a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Settings' , edit_user_path(current_user)  ,:class => 'glyphicon glyphicon-wrench' %></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><%= link_to 'Logout', logout_path ,:class => 'glyphicon glyphicon-off' %></li>
						</ul>
					</li>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<!-- Main jumbotron for a primary marketing message or call to action -->




		<div class="container">
			<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">×</a>
				<%= msg %>
			</div>
			<% end %>
			<!-- Example row of columns -->
			<div class="row">
				<% if logged_in? %>
				<div class="well well-lg col-xs-6 col-md-4">
					
					<%= render :partial => '/users/usergist' ,:locals => {user:current_user} %>
					<% @post = Post.new %>
					<%= render 'posts/new' %>

					
				</div>
				<div class="col-xs-12 col-md-8">


					<%= yield %>
				</div>
				<% else %>

				<div class="col-xs-18 col-md-12">


					<%= yield %>
				</div>


				<% end -%>
				


			</div><!-- /.container -->

		</div>
	</div>

	<footer id="footer">
		<div class="container">
			<p class="text-muted credit">Amir &copy;</p>
		</div>
	</footer>

</body>
</html>