<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= content_for?(:title) ? yield(:title) : "Social Media " %></title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application",media: "all" ,"data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Login</h4>
				</div>
				<div class="modal-body">
					<p>
						<%= render 'sessions/new'%>
					</p>
				</div>
				

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Register</h4>
				</div>
				<div class="modal-body">
					<p>
						<% user = User.new%>
						<%= render :partial => 'users/new', :locals => {user: user}%>
					</p>
				</div>
				

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
	
	<div id="wrap">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Social Media</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Home' ,root_path , :class => 'glyphicon glyphicon-home' %> </li>
					<li><%= link_to 'People' ,users_path , :class => 'glyphicon glyphicon-search' %> </li>
					
				</ul>
				<form class="navbar-form navbar-left" role="search">

					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'About' , about_path %></li>
					<% if !logged_in? %>
					<form class="navbar-form navbar-left" role="search">

						<div class="form-group">
							<button class="btn btn-primary " data-toggle="modal" data-target="#loginModal">
								Login
							</button>
							<button class="btn btn-success" data-toggle="modal" data-target="#registerModal">
								Register
							</button>
						</div>
					</form>
					<% else %>					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_for(current_user , size: 30) %> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Settings' , edit_user_path(current_user)  ,:class => 'glyphicon glyphicon-wrench' %></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><%= link_to 'Logout', logout_path ,:class => 'glyphicon glyphicon-off' %></li>
						</ul>
					</li>
					<% end %>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container">
			<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">×</a>
				<%= msg %>
			</div>
			<% end %>
			<div class="row">
				<% if logged_in? %>
				<aside class="sidebar col-xs-5 col-md-3">
					<section>
						<%= render :partial => '/users/usergist' ,:locals => {user:current_user} %>
						<% @post = Post.new %>
						<%= render 'posts/new' %>
						<br />
						<div id="notice" class="a alert alert-success" style="display:none">
							<a class="close" data-dismiss="a">×</a>
						</div>
						<div id="alert" class="b alert alert-warning" style="display:none">
							<a class="close" data-dismiss="b">×</a>
						</div>

					</section>
					
				</aside>
				<div class="col-xs-13 col-md-9">
					<%= yield %>
				</div>
				<% else %>
				<div class="col-xs-18 col-md-12">
					<%= yield %>
				</div>
				<% end -%>
			</div><!-- /.container -->
		</div>
	</div>

	<footer id="footer">
		<div class="container well">
			<p class="text-muted credit">Amir &copy;</p>
		</div>
	</footer>

</body>
</html>
